/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    overflow-y: hidden;
    scroll-behavior: smooth;
} */

/* .container {
    max-width: 1200px;
    margin: 0 auto;
} */

body {
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-size: 4.5rem;
    padding: 0 50px;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
}

/* Utilities */

.section {
    height: 100vh;
    position: relative;
    width: 100vw;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;    
}

/* Section */

.top-section {
    background-color: red;
}

.middle-section {
    background-color: darkgreen;
}

.bottom-section {
    background-color: yellow;
}

.bottom-section h1 {
    color: green;
}

/* Nav */

.button {
    position: fixed;
    top: 20px;
    right: 10px;
}