/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-size: 4.5rem;
    padding: 0 250px;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    background-color: white;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0 , 0, 0.5);
}

/* Utilities */

.section {
    height: 100vh;
    position: relative;
    width: 100vw;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;    
}

/* Section */

.top-section {
    background-color: red;
}

.middle-section {
    background-color: darkgreen;
}

.bottom-section {
    background-color: yellow;
}

.bottom-section h1 {
    color: green;
}

/* Nav */

.navigation-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 10%;
}

.navigation-menu a:hover {
    scale: 1.5;
}

.navigation-menu a:active {
    scale: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}